lazy-lock.json
dev
.vscode
.idea
lazygit/.config/lazygit/state.yml
fish_variables
sxhkd/.config/autostart
fishd.tmp.*
DEBS_avail
venv
/home/.oh-my-zsh/cache
home/.bin/serve-cam.sh
kitty/.config/kitty/kitty.work.conf
fish/.config/fish/functions/ssh_laptop.fish
fish/.config/fish/functions/ssh_testbench.fish
fish/.config/fish/functions/vm-enter.fish
fish/.config/fish/functions/vm-revert.fish
fish/.config/fish/functions/vm-save.fish
fish/.config/fish/functions/vm-stop.fish
fish/.config/fish/functions/vm-start.fish
fish/.config/fish/functions/vm-update.fish
fish/.config/fish/env.fish
fish/.config/fish/functions/ssh_appserver2.fish
fish/.config/fish/functions/ssh_dad.fish
