[Desktop Entry]
Type=Application
Exec=xset r rate 250 50
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=kbdrate
Name=kbdrate
Comment[en_US]=
Comment=
